@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0 30px;
    font-family: 'Exo 2', sans-serif;
    max-width: 1800px;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    width: 100%;
    height: auto;
    margin: 70px auto 70px auto;
    text-align-last: left;
    background-color: green;
    border-radius: 15px;
    align-items: flex-end;

}

.header-text {
    margin: 80px;
    color: whitesmoke;
    align-items: center;


}

.header-text h1 {
    font-size: 40px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: -150px;
    padding-bottom: 5px;
    color: whitesmoke;
}

#yellow {
    color: yellow;
}

.header-text p {
    padding-top: 15px;
}

.watch-box {
    margin-top: 25px;
    padding: 10px 15px;
    color: whitesmoke;
    background-color: rgb(23, 23, 201);
    border-radius: 6px;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 0 5px 0 rgb(1, 1, 27);
    width: 160px;

}

.watch-box a {
    color: white;
    text-decoration: none;
}

.watch-box a:hover {
    top: 5px;
    box-shadow: 0 2px 0 black;
    color: yellow;
}

.watch-box a:active {
    top: 5px;
    box-shadow: 0 2px 0 black;
    color: red;
}

.header-image img {
    margin-top: 60px;
    margin-bottom: -6px;
    margin-right: 40px;
    align-items: flex-end;
}

.section-2-left {
    background-color: rgb(58, 56, 56);
    width: 250px;
    height: 205px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

#sidebar {
    width: 180px;
    height: 35px;
    border-radius: 5px;
    padding: 3px 12px;
    font-weight: 900;
    color: black;
    font-size: larger;
    background-color: aliceblue;
    margin: 5px;
    text-align: center;
}

.blog-container {
    display: grid;
    grid-template-columns: 250px 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
    margin: 0 auto;
    padding: 0 auto;
    /* margin-left: 500px; */

}

.blog {
    border: 1px solid red;
    /* width: 312px; */
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  
}

.blog img {
    border: 3px solid blue;
    width: 100%;
    height: 200px;
}


@media (max-width: 600px) {
    body {
        margin-top: -50px;
    }

    .header {
        display: block;
        width: 100%;
        /* margin-top: 50px; */
        padding-top: 5px;
        align-items: center;
    }

    .header-image img {
        max-width: 70%;
        display: block;
        margin: 0 auto;
        /* width: 50vw;
        height: 50vw; */
    }

    .header-text p {
        text-align: justify;
    }

    .header-text h1 {
        font-size: 25px;
        font-weight: 900;
    }

    .watch-box {
        margin: auto;
        margin-top: 50px;
        align-items: center;
        max-width: 100%;
        min-width: 150px;
    }

    .header-image img {
        margin-top: auto;
        margin-right: auto;
        margin-left: 15vw;
        margin-bottom: -6px;

    }
}