@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0 30px;
    font-family: 'Exo 2', sans-serif;
    max-width: 1200px;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    width: 80%;
    height: 400px;
    margin: 70px auto 70px auto;
    text-align-last: left;
    background-color: green;
    border-radius: 15px;
}

.header-text {
    margin: 50px;
    color: whitesmoke;
}

.header-text h1 {
    font-size: 40px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: -150px;
    padding-bottom: 5px;
    color: whitesmoke;
}
#yellow{
    color: yellow;
}

.header-text p {
    padding-top: 15px;
}

.watch-box {
    margin-top: 25px;
    padding: 10px 15px;
    color: whitesmoke; 
    background-color: rgb(23, 23, 201);
    border-radius: 6px;
    font-weight: 900;
    cursor:pointer;
    box-shadow: 0 5px 0 rgb(1, 1, 27);
    width: 160px;

}
.watch-box a{
    color: white;
    text-decoration: none;
}

.watch-box a:hover {
    top: 5px;
    box-shadow: 0 2px 0 black;
    color:yellow;
}

.watch-box a:active {
    top: 5px;
    /* box-shadow: 0 2px 0 black; */
    color: red;
}

.header-image img {
    margin-top: 60px;
    margin-right: 20px;
}

@media screen(max-width: 600px) {
        .header-box {
          display: flex;
        }
      }
    